.homeContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.headers {
  text-align: center;
  margin-bottom: 40px;
}

.featuredRingsSection {
  text-align: center;
}

.featuredRings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.ringCard {
  flex: 0 1 calc(33.33% - 20px);
  margin: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.ringCard:hover {
  transform: scale(1.05);
}

.ringCard img {
  max-width: 100%;
  height: 150px;
  border-radius: 8px;
}

.ringDetails {
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin: 0 15px;
  transition: color 0.3s;
}

.link:hover {
  color: #757163;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.gridTwoColumn {
  grid-template-columns: repeat(2, 1fr);
}

.sectionData {
  p {
    margin: 2rem 0;
  }

  .h1 {
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
  }
}

.introData {
  margin-bottom: 0;
}

.imageStyle {
  min-width: 20rem;
  height: 20rem;
}
.sectionImage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  position: relative;
  &::after {
    content: "";
    width: 60%;
    height: 80%;
    background-color: rgba(81, 56, 238, 0.4);
    position: absolute;
    left: 50%;
    top: -5rem;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .ringCard {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .ringCard {
    flex: 0 1 calc(100% - 20px);
  }
}
