.productDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


.productInfo {
  flex: 0 1 calc(60% - 20px);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.productCategory {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.productDescription {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

.productPrice {
  font-size: 20px;
  margin-bottom: 20px;
  color: #e44d26;
}

.backToShop {
  display: inline-block;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.backToShop:hover {
  background-color: #2980b9;
}

.zoomButtons{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
}


.zoomableImageContainer {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .zoomableImage {
    display: block;
    width: 300px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
 
  button {
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: black;
  }

@media (min-width: 768px) {
  .productInfo {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
}
