.shopContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.categoryFilter {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.productCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.productCard:hover {
  transform: scale(1.05);
}

.productCard img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.productCard h3 {
  padding: 10px;
  font-size: 18px;
  color: #333;
}

.productCard p {
  padding: 10px;
  font-size: 16px;
  color: #e44d26;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0 15px;
    transition: color 0.3s;
  }
  
  .link:hover {
    color: #757163;
  }